body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.movie-card {
  background: #303030;
  color: white;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 50%;
}

.movie-card:hover {
  background-color: #0087FF;
  box-shadow: 0 -1px 0 #303030, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
    color: white;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  top: 0;
  border: 0;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-box {
  width: 100%;
  padding: 30px 16px 30px 16px;
  background: white;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}

.saved-box-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(to bottom right, #CDDDEA, white);
}

.saved-movie {
  margin: 10px;
  padding: 10px;
}

.saved-active {
  color: blue;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 24rem;
  padding: 5px 10px;
  background-color: #40A719;
  color: white;
}
.save-button:hover {
  background-color: green;
  color: white;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(255, 255, 255, 0.358);
}

.navbar {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  width: 100%;
  background: #3C3C3C;
  padding: 15px;
  top: 0;
}

.home-button {
  width: 5%;
  padding: 5px 10px;
  color: white;
  text-align: center;
  background-color: #0087FF;
}

.home-button:hover {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(255, 255, 255, 0.358);
}